accelerate
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
audioread
av
braceexpand
brotli
certifi
cffi
charset-normalizer
click
cloudpickle
ctranslate2
cuda-bindings
cuda-pathfinder
cuda-toolkit
Cython
decorator
demucs
docopt
dora_search
dtw-python
einops
fastapi
faster-whisper
filelock
flatbuffers
fsspec
gradio
gradio_client
groovy
h11
hf-gradio
hf-xet
httpcore
httpx
huggingface_hub
HyperPyYAML
idna
Jinja2
joblib
julius
lameenc
lazy-loader
librosa
llvmlite
markdown-it-py
MarkupSafe
mdurl
more-itertools
mpmath
msgpack
networkx
num2words
numba
numpy
omegaconf
omnivoice
onnxruntime
openai-whisper
openunmix
openvoice-cli
orjson
packaging
pandas
pillow
platformdirs
pooch
protobuf
psutil
pycparser
pydantic
pydantic_core
pydub
Pygments
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil
python-multipart
pytz
PyYAML
regex
requests
resampy
retrying
rich
ruamel.yaml
ruamel.yaml.clib
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentencepiece
setuptools
shellingham
six
soundfile
soxr
speechbrain
standard-aifc
standard-chunk
standard-sunau
starlette
submitit
sympy
tensorboardX
threadpoolctl
tiktoken
tokenizers
tomlkit
tqdm
transformers
treetable
triton
typer
typing-inspection
typing_extensions
urllib3
uvicorn
wavmark
webdataset
whisper-timestamped
